* {
  font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
  font-size: 13px;
 }
 
#top_header, #logo, #search, #login, #menu, #content, #footer, #sidebar {
	/*background-color: #efefef; */
    margin-top: 20px;
}

#top_header {
	background-color: rgb(237, 106, 0);
	padding: 8px 0px 8px 0px;
}

#footer {
	background-image: url("http://127.0.0.1:8000/media/core/footerbg.png");
	background-repeat: repeat-y;
	height: 200px;
}

#cart {
	text-align:right;
}

#content {
	min-height:450px;
}

#menu {
	border-style: dashed;
	border-color: rgb(237, 106, 0);
	border-width: 1px;
	padding: 8px 0px 8px 0px;
}

ul.tabs, ul.menu, ul.header {
	display: block;
	margin: 0px;
	padding: 0px;
}

ul.tabs li, ul.menu li, ul.header li {
  display: inline;
 }
 
.fieldWrapper {
	margin-bottom: 0.692em;
}

.fieldWrapper label {
	display: block;
	font-weight: bold;
	font-size: 13px;
}

.fieldWrapper input {
	width: 300px;
}

.form-required {
    color: rgb(255, 0, 0);
}

h1, h2, h3, .h1, .h2, .h3 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, .h1 {
    font-size: 2em;
    line-height: 1.385em;
    margin: 0px 0px 0.692em;
    font-weight: normal;
}

ul.tabs li a {
	color: rgb(237, 106, 0);
}

ul.tabs li a:hover, ul.tabs li a:focus, ul.tabs li.active a {
    background: none repeat scroll 0% 0% rgb(237, 106, 0);
    color: rgb(255, 255, 255);
    border-radius: 3px 3px 3px 3px;
}

ul.menu li a {
	margin-left: 5px;
	color: rgb(0, 0, 0);
}

ul.menu li a:hover, ul.menu li a:focus, ul.menu li.active a {
    background: none repeat scroll 0% 0% rgb(237, 106, 0);
    color: rgb(255, 255, 255);
    border-radius: 3px 3px 3px 3px;
}

ul.header a {
	color: rgb(255, 255, 255);
	padding: 3px 8px 3px 8px;
}

ul.header {
	padding: 0px 5px 0px 5px;
}

ul.header li a:hover, ul.header li a:focus, ul.header li.active a {
    background: none repeat scroll 0% 0% rgb(255, 158, 62);
    color: rgb(255, 255, 255);
    border-radius: 3px 3px 3px 3px;
}

a {
	font-size: 13px;
	padding: 3px 8px 3px 8px;
	text-decoration:none;
}

.errorlist {
	color: rgb(255, 0, 0);
}

#searchsubmit {
    position: relative;
    left: 500px;
    top: -38px;
    padding: 1.618em;
    width: 20px;
    height: 0px;
    background: url("http://127.0.0.1:8000/media/core/ico-search.png") no-repeat scroll center center / 16px 16px transparent;
    opacity: 0.2;
    text-indent: -99em;
}

#searchsubmit {
    cursor: pointer;
    border: 0px none;
    font-size: 0.857em;
}

#searchsubmit:hover {
    opacity: 1;
}

#searchform .s, #searchform #s {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.024);
    padding: 0.78em 2.618em 0.78em 1.387em;
    width: 100%;
    -moz-box-sizing: border-box;
    margin: 0px;
    border: 2px solid;
    color: rgb(54, 66, 69);
    border-color: rgb(200, 200, 200);
}

#searchform input[type="text"] {
    padding: 0.382em 0.5em;
    border: 1px solid rgb(237, 106, 0);
    border-radius: 0.236em 0.236em 0.236em 0.236em;
    background-clip: padding-box;
    font-size: 1em;
    line-height: 1.618em;
    font-family: inherit;
    outline: medium none;
    -moz-box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

#searchform #s:hover, #searchform #s:focus, #searchform #s:active {
    border-color: rgb(237, 106, 0);
}

#searchform {
	padding-top: 25px;
}
