{% extends "shop/base.html" %}

{% block content %}
	<h1 class="title">User Account</h1>
	<ul class="tabs">
		<li><a href="/accounts/register">Create new account</a></li>
		<li class="active"><a class="active" href="/accounts/login">Log in</a></li>
	</ul>
	<br />
	<form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="fieldWrapper">
			{{ form.username.errors }}
			<label for="id_username">Username: <span class="form-required" title="This field is required.">*</span></label>
			{{ form.username }}
		</div>
		<div class="fieldWrapper">
			{{ form.password.errors }}
			<label for="id_password">Email: <span class="form-required" title="This field is required.">*</span></label>
			{{ form.password }}
		</div>
		<p><input type="submit" value="Log in" /></p>
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
{% endblock %}
