<!DOCTYPE html>
<html>
	<head>
		<title>SGC - The Sporting Goods Company</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="/media/css/960_12_col.css"/> 
		<link rel="stylesheet" type="text/css" href="/media/css/style.css"/> 
	</head>
	<body>
	<div class="container_12">
		<div id="top_header" class="grid_12">
			<div class="grid_10 alpha">
				<ul class="header">
				{% if user.is_authenticated %}
					<li><a href="/accounts/profile">My Account</a></li>
					<li><a href="{% url "order_list" %}">My Orders</a></li>
					<li><a href="/accounts/logout">Logout</a></li>
				{% else %}
					<li><a href="/accounts/login">Login/Register</a></li>
				{% endif %}
				</ul>
			</div>
			<div id="cart" class="grid_2 omega">
				<ul class="header">
					<li><a href="{% url "cart" %}">View Cart</a></li>
				</ul>
			</div>
		</div>
		<div id="header" class="grid_12">
			<div id="logo" class="grid_4 alpha"><img src="/media/core/SGC_logo.png"></div>
			<div id="search" class="grid_5">Search Box Here</div>
			<div id="login" class="grid_3 omega">Login/Register Area</div>
		</div>
		<div id="menu" class="grid_12">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="">About</a></li>
				<li><a href="">Shop</a></li>
			</ul>
		</div>
		<div id="content" class="grid_12">
			{% block content %}
			<div id="sidebar" class="grid_3 alpha">{ Sidebar }</div>
			<div id="body" class="grid_9 omega">{% block body %}{% endblock%}</div>
			{% endblock%}
		</div>
		<div id="footer" class="grid_12"></div>
	</div>
	</body>
</html>
