{% extends "shop/base.html" %}
{% block body %}

  <h1>Product detail:</h1>
  {{object.name}}<br>
    <img src="/media/{{object.photo}}" height = "200" width = "200">
    <br>
    Manufacturer: {{object.manufacturer}}<br>
    {{objecct.description}}

  Price: ${{object.unit_price}}<br />

  {% if object.category %}
  Category: {{object.category.name}}
  {% endif %}
  <br />

  <form method="post" action="{% url "cart" %}">{% csrf_token %}
  <input type="hidden" name="add_item_id" value="{{object.pk}}">
  <input type="hidden" name="add_item_quantity" value="1">
  <input type="submit" value="Add to cart">
  </form>
{% endblock %}
